@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,300&family=Arsenal&family=IBM+Plex+Sans+Condensed:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=PT+Sans:wght@700&family=Playfair+Display&family=Rajdhani:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    align-items: center;
    padding: 30px 5%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    font-family: 'Playfair Display', serif;
}
nav {
    margin-left: 25%;
}
nav ul li {
    display: inline-flex;  
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding-right: 50px;
}
a:hover{
    color: #135cfd;
}
#section-one {
    width: auto;
    height: 700px;
    background-image: url('../images/room.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
#section-two {
    height: 5%;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    text-align: center;
}
#section-three {
    background-color: lightblue;
    height: 5%;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
}
section .movie-content {
    display: inline;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    border-spacing: 10%;
}
section .pst {
    margin-top: 50px;
    width: 1000px;
    height: 1000px;
}
section .button #buy-btn {
    text-decoration: none;
    color: white;
    font-size: 16px;
    background-color: #f90550;
    border: none;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    padding: 15px 28px;
}
section .button #delete-btn {
    text-decoration: none;
    color: white;
    font-size: 16px;
    background-color: #f90550;
    border: none;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    padding: 15px 28px;
}
.movie-content h3 {
    font-size: 30px;
}
.movie-content p {
    font-size: 20px;
}
.movie-menu span {
    color: red;
}

