@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,300&family=Arsenal&family=IBM+Plex+Sans+Condensed:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=PT+Sans:wght@700&family=Playfair+Display&family=Rajdhani:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    align-items: center;
    padding: 30px 5%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    font-family: 'Playfair Display', serif;
}
nav {
    margin-left: 25%;
}
nav ul li {
    display: inline-flex;  
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding-right: 50px;
}
a:hover{
    color: #135cfd;
}
#section-one {
    width: auto;
    height: 700px;
    background-image: url('../images/room.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
#section-two {
    
}
#section-three {
    background-color: #3a98a2;
    height: 2000px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    text-align: center;
}
section .movie-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

